/* 页面初始化样式 */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font: 14px/1.5 Arial;
  color: #333;
  display: grid;
  grid: 100px 100px / 1fr 800px 1fr;
}
/* 布局开始 */
header {
  grid-area: 1/2/2/3;
}
main {
  grid-area: 2/2/3/3;
}